.html__act--display {
    display: flex;
    margin: 0;
}
a.btn.btn-primary.btn-sm {
    margin: 10px 0;
}
button.btn.btn-danger.btn-sm.btnDelete {
    margin: 10px;
}
.ml-10 {
    margin-right: 30px;
}
.html_image img {
    width: 100px;
    height: 80px;
}
